# Compiled Object files
*.slo
*.lo
*.o
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app
/Release
/Debug
/Engine/Debug
/Engine/Release
/SuperGame/Debug
/SuperGame/Release
/SuperGameTests/Debug
/SuperGameTests/Release
ipch

*.sdf
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.ipch
